* {
    margin: 10;
    padding:0;
}
body{
    background-image: url(images/MARVEL33.jpg);
    background-size: cover;
}
h2 {
    font-size: 30px;
    color:red;
    padding: 0px 5px;
}

.topmenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777;
}

.topmenu li{
    float: left;
}

.topmenu li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:green;
    width: 300px;
    height: 500px;
  }
  
  .dropdown-content a {
    color:red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-style: italic;
  }
  
  .dropdown-content a:hover {background-color: red;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    height: auto;
    padding: 5px 5px 20px 5px;
  }
  .dropdown:hover .dropdown-content a {
    display: block;
    height: 0px;;
  }



div p {
    display: block;
    font-family:arial;
    color:black;
    text-align: left;
    font-size:18px;
    padding:0px 5px; 
    font-weight: bold;
    text-decoration: none;
}

h3{
    font-size: 20px;
    font-style: italic;
}

.container{
    width:70%;
    margin: auto;
    overflow: hidden;
    margin-top: 1%;
}   
showcase h1{
    color:#fff;
    font-family:cursive;
    text-align: center;
}
showcase h3{
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}

.category{
    color:#fff;
    margin-top: 5%;
    display: flex;
    text-align: center;
    font-family:arial;
}
img{
    width:20%;
    border-block-width: 10%;

}
.snack, .grill{
        padding-left: Irem;
}
h4{
    font-size: 2rem; /*lrem=16 */
    margin: 3%;
    color:#fff;
}
.btn{
    background-color: gold;
    padding: Irem;
    border: none;
    border-radius: 8px;
    margin-left: 45%;
}

showcase p{
    font-size:25px;
    color:#fff;
    margin: 4%;
}